{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RespoAgence list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Password</th>
                <th>Dateinscription</th>
                <th>Nomagence</th>
                <th>Active</th>
                <th>Commentaire</th>
                <th>Region</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('travel_respagence_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.cin }}</td>
                <td>{{ entity.eMail }}</td>
                <td>{{ entity.phoneNumber }}</td>
                <td>{{ entity.password }}</td>
                <td>{% if entity.dateInscription %}{{ entity.dateInscription|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nomAgence }}</td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.commentaire }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.longitude }}</td>
                <td>{{ entity.latitude }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('travel_respagence_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('travel_respagence_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('travel_respagence_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
