{# empty Twig template #}
{% block body -%}

    <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Travel Agency - HTML5 Booking template</title>

            <!-- Bootstrap -->
            <link href="{{asset('dist/css/bootstrap.css')}}" rel="stylesheet" media="screen">
            <link href="{{asset('assets/css/custom.css')}}" rel="stylesheet" media="screen">

            <link href="{{asset('examples/carousel/carousel.css')}}" rel="stylesheet" media="screen">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="assets/js/html5shiv.js"></script>
              <script src="assets/js/respond.min.js"></script>
            <![endif]-->

            <!-- Fonts -->	
            <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>	
            <!-- Font-Awesome -->
            <link href="{{asset('assets/css/font-awesome.css')}}" rel="stylesheet" media="screen">
            <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->

            <!-- REVOLUTION BANNER CSS SETTINGS -->
            <link href="{{asset('css/fullscreen.css')}}" rel="stylesheet" media="screen">
            <link href="{{asset('rs-plugin/css/settings.css')}}" rel="stylesheet" media="screen">

            <!-- Picker -->	
            <link href="{{asset('assets/css/jquery-ui.css')}}" rel="stylesheet" media="screen">


            <!-- bin/jquery.slider.min.css -->
            <link href="{{asset('plugins/jslider/css/jslider.css')}}" rel="stylesheet" media="screen">
            <link href="{{asset('plugins/jslider/css/jslider.round.css')}}" rel="stylesheet" media="screen">



            <!-- jQuery -->	
            <script src="{{asset('assets/js/jquery.v2.0.3.js')}}"></script>

            <!-- bin/jquery.slider.min.js -->

            <script src="{{asset('plugins/jslider/js/jshashtable-2.1_src.js')}}"></script>
            <script src="{{asset('plugins/jslider/js/jquery.numberformatter-1.2.3.js')}}"></script>
            <script src="{{asset('plugins/jslider/js/tmpl.js')}}"></script>
            <script src="{{asset('plugins/jslider/js/jquery.dependClass-0.1.js')}}"></script>
            <script src="{{asset('plugins/jslider/js/draggable-0.1.js')}}"></script>
            <script src="{{asset('plugins/jslider/js/jquery.slider.js')}}"></script>
            <!-- end -->


        </head>
        <body id="top" class="thebg" >



            <div class="navbar-wrapper2 navbar-fixed-top">
                <div class="container">
                    <div class="navbar mtnav">

                        <div class="container">
                            <div class="navbar-header">
                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="index.html" class="navbar-brand"><img src="{{asset('images/logo.png')}}" alt="Travel Agency Logo" class="logo"/></a>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown active">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html">Home<b class="lightcaret mt-2"></b></a>
                                        <ul class="dropdown-menu posright-0">
                                            <li class="dropdown-header">Intro</li>
                                            <li><a href="intro.html">Intro 1</a></li>
                                            <li><a href="intro2.html">Intro 2 - slides</a></li>

                                            <li class="dropdown-header">Homepages</li>					  
                                            <li><a href="index.html">Home 1 minimal</a></li>
                                            <li><a href="index2.html">Home 2 offers</a></li>
                                            <li><a href="index3.html">Home 3 full search</a></li>
                                            <li><a href="index4.html">Home 4 presentation</a></li>
                                            <li><a href="index5.html">Home 5 footer2</a></li>
                                            <li><a href="index6.html">Home 6 full</a></li>
                                            <li><a href="index7.html">Home 7 </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Pages<b class="lightcaret mt-2"></b></a>
                                        <ul class="dropdown-menu posright-0">
                                            <li><a href="list.html">List page 1</a></li>
                                            <li><a href="list2.html">List page 2</a></li>
                                            <li><a href="list3.html">List page 3</a></li>
                                            <li><a href="list4.html">List page 4</a></li>
                                            <li><a href="details.html">Details page</a></li>
                                            <li><a href="payment.html">Payment</a></li>
                                            <li><a href="profile.html">User Profile</a></li>
                                            <li><a href="login.html">Login</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Hotels</a></li>
                                    <li><a href="#about">Flights</a></li>
                                    <li><a href="#contact">Vacations</a></li>
                                    <li><a href="#contact">Cars</a></li>			  
                                    <li><a href="#contact">Cruises</a></li>			  
                                    <li><a href="#contact">Things to do</a></li>			  
                                    <li><a href="#contact">Last minute</a></li>			  
                                    <li><a href="#contact">Early booking</a></li>			  
                                    <li><a href="#contact">Deals</a></li>			  
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <div class="container breadcrub">
                <div>
                    <a class="homebtn left" href="#"></a>
                    <div class="left">
                        <ul class="bcrumbs">
                            <li>/</li>
                            <li><a href="#">Hotels</a></li>
                            <li>/</li>
                            <li><a href="#">U.S.A.</a></li>
                            <li>/</li>					
                            <li><a href="#" class="active">New York</a></li>					
                        </ul>				
                    </div>
                    <a class="backbtn right" href="#"></a>
                </div>
                <div class="clearfix"></div>
                <div class="brlines"></div>
            </div>	

            <!-- CONTENT -->
            <div class="container">
                <div class="container pagecontainer offset-0">	

                    <!-- FILTERS -->

                    <!-- END OF FILTERS -->

                    <!-- LIST CONTENT-->

                    <div class="rightcontent col-md-9 offset-0">
                        {% for rest in entities %}
                        <div class="hpadding20">
                            <!-- Top filters -->

                            <!-- End of topfilters-->
                        </div>
                        <!-- End of padding -->

                        <br/><br/>
                        <div class="clearfix"></div>


                        <div class="itemscontainer offset-1">


                            <div class="offset-2">
                                <div class="col-md-4 offset-0">
                                    <div class="listitem2">
                                       <img src={{rest.getImage}} alt=""/>                                       
                                       {# <a href="images/items/item7.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="{{asset('images/items/item7.jpg')}}" alt=""/></a> #}
                                        <div class="liover"></div>
                                        <a class="fav-icon" href="#"></a>
                                        <a class="book-icon" href="details.html"></a>
                                    </div>
                                </div>
                                <div class="col-md-8 offset-0">
                                    <div class="itemlabel3">
                                        <div class="labelright">
                                            <img src="images/filter-rating-5.png" width="60" alt=""/><br/><br/><br/>
                                            <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                                            <span class="size11 grey">18 Reviews</span><br/><br/>
                                            <span class="green size18"><b>{{rest.getBudget}} DT</b></span><br/>
                                            <span class="size11 grey">avg/night</span><br/><br/><br/>
                                            <form action="http://demo.titanicthemes.com/travel/details.html">
                                                <button class="bookbtn mt1" type="submit">Réserver</button>	
                                            </form>			
                                        </div>
                                        <div class="labelleft2">			
                                            <b>{{rest.getDestination}}</b><br/><br/><br/>
                                            <p class="grey">
                                                {{rest.getProgramme}}.</p><br/>
                                            <ul class="hotelpreferences">
                                                <li class="icohp-internet"></li>
                                                <li class="icohp-air"></li>
                                                <li class="icohp-pool"></li>
                                                <li class="icohp-childcare"></li>
                                                <li class="icohp-fitness"></li>
                                                <li class="icohp-breakfast"></li>
                                                <li class="icohp-parking"></li>
                                                <li class="icohp-pets"></li>
                                                <li class="icohp-spa"></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of offset1-->		
                          
                            <div class="offset-2"><hr class="featurette-divider3"></div>
                            
                            
                            
                            
                            {#Pagination:
                            <div class="hpadding20">

                                <ul class="pagination right paddingbtm20">
                                    <li class="disabled"><a href="#">&laquo;</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>

                            </div>
                            #}

                        </div>
                                    
                        <!-- END OF LIST CONTENT-->


                         {% endfor %} 
                    </div>
                                
                    <!-- END OF container-->

                </div>
                <!-- END OF CONTENT -->


                <!-- FOOTER -->
                <div class="footerbgblack">
                    <div class="container">		

                        <div class="col-md-3">
                            <span class="ftitleblack">Let's socialize</span>
                            <div class="scont">
                                <a href="#" class="social1b"><img src="images/icon-facebook.png" alt=""/></a>
                                <a href="#" class="social2b"><img src="images/icon-twitter.png" alt=""/></a>
                                <a href="#" class="social3b"><img src="images/icon-gplus.png" alt=""/></a>
                                <a href="#" class="social4b"><img src="images/icon-youtube.png" alt=""/></a>
                                <br/><br/><br/>
                                <a href="#"><img src="images/logosmal2.png" alt="" /></a><br/>
                                <span class="grey2">&copy; 2013  |  <a href="#">Privacy Policy</a><br/>
                                    All Rights Reserved </span>
                                <br/><br/>

                            </div>
                        </div>
                        <!-- End of column 1-->

                        <div class="col-md-3">
                            <span class="ftitleblack">Travel Specialists</span>
                            <br/><br/>
                            <ul class="footerlistblack">
                                <li><a href="#">Golf Vacations</a></li>
                                <li><a href="#">Ski & Snowboarding</a></li>
                                <li><a href="#">Disney Parks Vacations</a></li>
                                <li><a href="#">Disneyland Vacations</a></li>
                                <li><a href="#">Disney World Vacations</a></li>
                                <li><a href="#">Vacations As Advertised</a></li>
                            </ul>
                        </div>
                        <!-- End of column 2-->		

                        <div class="col-md-3">
                            <span class="ftitleblack">Travel Specialists</span>
                            <br/><br/>
                            <ul class="footerlistblack">
                                <li><a href="#">Weddings</a></li>
                                <li><a href="#">Accessible Travel</a></li>
                                <li><a href="#">Disney Parks</a></li>
                                <li><a href="#">Cruises</a></li>
                                <li><a href="#">Round the World</a></li>
                                <li><a href="#">First Class Flights</a></li>
                            </ul>				
                        </div>
                        <!-- End of column 3-->		

                        <div class="col-md-3 grey">
                            <span class="ftitleblack">Newsletter</span>
                            <div class="relative">
                                <input type="email" class="form-control fccustom2black" id="exampleInputEmail1" placeholder="Enter email">
                                <button type="submit" class="btn btn-default btncustom">Submit<img src="images/arrow.png" alt=""/></button>
                            </div>
                            <br/><br/>
                            <span class="ftitleblack">Customer support</span><br/>
                            <span class="pnr">1-866-599-6674</span><br/>
                            <span class="grey2">office@travel.com</span>
                        </div>			
                        <!-- End of column 4-->			


                    </div>	
                </div>

                <div class="footerbg3black">
                    <div class="container center grey"> 
                        <a href="#">Home</a> | 
                        <a href="#">About</a> | 
                        <a href="#">Last minute</a> | 
                        <a href="#">Early booking</a> | 
                        <a href="#">Special offers</a> | 
                        <a href="#">Blog</a> | 
                        <a href="#">Contact</a>
                        <a href="#top" class="gotop scroll"><img src="images/spacer.png" alt=""/></a>
                    </div>
                </div>




                <!-- Javascript -->	
                <script src="assets/js/js-list4.js"></script>	

                <!-- Custom Select -->
                <script type='text/javascript' src='assets/js/jquery.customSelect.js'></script>

                <!-- Custom Select -->
                <script type='text/javascript' src='js/lightbox.js'></script>	

                <!-- JS Ease -->	
                <script src="assets/js/jquery.easing.js"></script>

                <!-- Custom functions -->
                <script src="assets/js/functions.js"></script>

                <!-- jQuery KenBurn Slider  -->
                <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

                <!-- Counter -->	
                <script src="assets/js/counter.js"></script>	

                <!-- Nicescroll  -->	
                <script src="assets/js/jquery.nicescroll.min.js"></script>

                <!-- Picker -->	
                <script src="assets/js/jquery-ui.js"></script>

                <!-- Bootstrap -->	
                <script src="dist/js/bootstrap.min.js"></script><script>  (function(i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function() {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');
                    ga('create', 'UA-43203432-1', 'titanicthemes.com');
                    ga('send', 'pageview');</script>
                </div>
            </body>                                
    </html>
    {% endblock %}